In [30]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [31]:
%sql sqlite:///movies.sqlite

'Connected: @movies.sqlite'

In [32]:
%%sql
SELECT username, full_name, password
FROM customer

 * sqlite:///movies.sqlite
Done.

[('coolkille1996', 'Diederik Harmsen', 'svårknäcktlösenord123')]

In [34]:
%%sql
SELECT theater_name, start_time, date, title
FROM screening
INNER JOIN(movie)
USING(imdb)

 * sqlite:///movies.sqlite
Done.

[('Bergakungen', '19:00', '2020-02-15', '12 Angry Men'),
 ('Hagabion', '14:14', '2020-02-20', 'Free Solo')]